<h1>Meteo Città Selezionata</h1>
<img src="\src\assets\Weather-PNG-Photos-1172425234.png" alt="Immagine logo sole e nuvole">

<!--<h3 *ngIf="City.sunrise != null">{{City.sunrise}}</h3>-->
<!--<h3 *ngIf="City.sunset != null">{{City.sunset}}</h3>-->
<!--<h3 *ngIf="City.first_light != null">{{City.first_light}}</h3>-->
<!--<h3 *ngIf="City.last_light != null">{{City.last_light}}</h3>-->
<!--<h3 *ngIf="City.golden_hour != null">{{City.golden_hour}}</h3>-->
<!--<h3 *ngIf="City.day_length != null">{{City.day_length}}</h3>-->
<!--<h3 *ngIf="City.timezone != null">{{City.timezone}}</h3>-->

<div>
    <img src="src\assets\Weather-PNG-Photos-1172425234.png" alt="Alba">
</div>

<div>
<img src="src\assets\Weather-PNG-Photos-1172425234.png" alt="Tramonto">
</div>

<a [routerLink]="''">Torna alla home</a>

