
<h1 class="titolodettaglio text-center">Meteo {{ lat }} - {{ lon }}</h1>
<br>
<div class="bottoneinalto w-100 d-flex justify-content-center">
  <button class="btncolo" [routerLink]="''">Torna alla home</button>
</div>

<div class="w-100 d-flex justify-content-center">
  
  <!--card per l'alba-->
  <div class="imagininealbatram card col-4">
    <h2>Alba</h2>
    <div class="imagininealbatram">
    <img 
      src="assets/sunrise.png"
      class="card-img"
      alt="Sunrise image"
    />
  </div>
    <div class="card-body">
      <h5 class="card-title">Alba: {{ sunRS.sunrise }}</h5>
    </div>
  </div>

  <!--card per il tramonto-->

  <div class="imagininealbatram colorecarddettaglio card col-4">
    <h2>Tramonto</h2>
    <div class="imagininealbatram">
    <img 
      src="assets/sunset.png"
      class="card-img"
      alt="Sunset image"
    />
  </div>
    <div class="card-body">
      <h5 class="card-title">Tramonto: {{ sunRS.sunset }}</h5>
    </div>
  </div>
</div>

<br />

<!-- table -->
<div class="text-center w-100 d-flex justify-content-center">
  <div class="d-flex justify-content-center card col-9">
    <table class="cardcolo w-100">
      <tr>
        <th>
          <h4>Timepoint</h4>
        </th>
        <th>
          <h4>Transparency</h4>
        </th>
        <th>
          <h4>Temperature C*</h4>
        </th>
      </tr>

      <tr *ngFor="let dettaglioMeteo of dettagliMeteo">
        <td>
          <h3>{{ dettaglioMeteo.timepoint }}</h3>
        </td>
        <td>
          <h3>{{ dettaglioMeteo.transparency }}</h3>
        </td>
        <td>
          <h3>{{ dettaglioMeteo.temp2m }}</h3>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="bottoneinbasso w-100 d-flex justify-content-center">
  <button class="btncolo" [routerLink]="''">Torna alla home</button>
</div>