/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(253, 184, 184);
  color: rgb(255, 255, 255);
}

.bottoneinbasso{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottoneinalto{
  margin-bottom: 20px;
}

h2{
  margin-top: 20px;
  margin-left: 20px;
}

.btncolo{
  background-color: lightcoral;
  border-radius: 2px;
}

.cardcolo{
  background-color: rgb(255, 229, 219);
}

.titolo{
  color: rgb(255, 118, 140);
}

.btncoloprimary{
  background-color: lightcoral;
  border-radius: 3px;
}

.card-title-città{
  margin-left:100px;
  margin-bottom: 15px;
  margin-top: -10px;
}


