/* You can add global styles to this file, and also import other style files */
nav{
  background-color: lightcoral;
}

.bottoneinbasso{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottoneinalto{
  margin-bottom: 20px;
}

h2{
  margin-top: 20px;
  margin-left: 20px;
}

.btncolo{
  background-color: lightcoral;
  border-radius: 2px;
}

.cardcolo{
  background-color: rgb(255, 229, 219);
}

.titolo{
  color: rgb(252, 233, 236);
  padding-bottom: 15px;
  padding-top: 10px;
}

.titolodettaglio{
  color: rgb(246, 88, 88);
  padding-bottom: 15px;
  padding-top: 10px;
}

.btncoloprimary{
  background-color: lightcoral;
  border-radius: 3px;
}

.card-title-città{
  margin-left:100px;
  margin-bottom: 15px;
  margin-top: -10px;
}


.imagininealbatram{
  width:80px;
  align-items: center;
}

.colorecarddettaglio{
  background-color:bisque ;
}

.btn{
  align-items: center;
}


.titoloLatLong{
  margin-left: 35px;
  margin-top:7px;
}

