<h1 class="titolo text-center">Meteo di tutto il Mondo</h1>

<!-- <img width="100px" src="assets\Weather-PNG-Photos-1172425234.png" alt="Immagine logo sole e nuvole" /> -->
<br>

<div>
    <div class="d-flex justify-content-center">
        <form>
            <div class="card">
                <h4>Latitudine</h4>
                <input class="cardcolo" [(ngModel)]="lat" name="lat" id="search" type="number" placeholder="Latitudine"
                    required />
            </div>
            <br>
            <div class="card">
                <h4>Longitudine</h4>
                <input class="cardcolo" [(ngModel)]="lon" name="lon" id="search" type="number" placeholder="Longitudine"
                    required />
            </div>
            <br />
            <button [routerLink]="'dettaglio/' + lat + '/' + lon" class="btncoloprimary">
                Cerca
            </button>
        </form>
    </div>
</div>
<br>

<!-- card per il tempo a limone montagna -->
<div class="w-100 d-flex justify-content-center">
<div class="card" style="width: 18rem;">
    <br />
    <h5 class="card-title-città">Limone</h5>
    <img src="assets\limone.jpg" alt="immagine Limone">
    <div class="limonepied card-body">
        <p class="card-text">Limone Piemonte, gioiello alpino, culla le sue montagne con nevi candidi e abbraccia il visitatore con calore montano.</p>
        <button class="btncolo" [routerLink]="'dettaglio/44.204481/7.576225'">Clicca qui per sciare!</button>
    </div>
</div>

<!-- card per il tempo a genova mare -->
<div class="card" style="width: 18rem;">
    <br />
    <h5 class="card-title-città">Genova</h5>
    <img src="assets\genova.jpg"  alt="immagine Genova">
    <div class="card-body">
        <p class="card-text">Genova, tra carruggi e mare, sfoggia il suo sorriso pestato di storia e profumato di focaccia. Un abbraccio di cultura!</p>
        <button class="btncolo" [routerLink]="'dettaglio/44.409452/8.967002'">Clicca per il mare!</button>
    </div>
</div>
</div>